.main {
  display: grid;
  grid-template-columns: 40% auto;
  border: 0.2rem solid #223673;
  margin: 20px;
  background-color: rgb(189, 219, 240);
  border-radius: 2rem;
  box-shadow: 0 0 25px;
}
.title {
  grid-column: 1;
  display: grid;
  margin-left: 20px;
  margin-top: 20px;
}
.name {
  height: 50%;
  margin-top: 60px;
  margin-left: 20px;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  color: #223673;
}
.description {
  width: 700px;
  margin-left: 50px;
  margin-top: 50px;
}
.image {
  width: 3cm; /* Set the width to 4 cm */
  height: 3cm; /* Set the height to 4 cm */
  overflow: hidden; /* Ensure the image remains within the circle */
  border-radius: 50%; /* Make the container circular */
  margin: 2rem;
  grid-column: 1;

  position: relative;
}

.profileImage {
  width: 100%;
  height: 100%; /* Maintain the aspect ratio of the image */

  object-fit: cover; /* for image to fill container */
}
.profile {
  display: flex;
}

.title h1 {
  font-size: larger;
}

.information {
  grid-row: 2;
  margin: 20px;
  font-size: medium;
}

.information p {
  width: 80%;
  margin-top: 2px;
}

.information p span {
  font-style: italic;
}

.right {
  height: 100%;
  width: 70%;
}
.saveEditButton {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  cursor: pointer;
}

.saveEditButton:hover {
  background-color: #0056b3;
}
.changeImageButton {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 30px;
  cursor: pointer;
}
.changeImageButton:hover {
  background-color: #0056b3;
}

.appointments {
  margin-top: 70px;
  width: 500px;
  margin-bottom: 70px;
}

.appointments > div:nth-child(1) {
  font-weight: bold;
  margin-bottom: 20px;
}

.testResults > div:nth-child(1) {
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.appointmentsButtons {
  margin-left: 9px;
  height: 40px;
}

.newAppointment {
  margin-top: 20px;
}

.appointment {
  display: flex;
}

.addDoctors {
  margin-bottom: 70px;
}
.miniNavbar {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.buttonContainer {
  border: 0.2cm solid #223673; /* Set border size and color */
  border-radius: 1rem; /* Optional: Add border radius for a rounded border */
  display: flex;
  overflow: hidden; /* Ensure overflow content does not break layout */
}

.buttonContainer button {
  background-color: transparent;
  border: none;
  color: #223673;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.buttonContainer button:hover,
.buttonContainer button:focus {
  color: white; /* Change text color on hover/focus */
}
.messageToDoctor {
  margin: 20px;
  padding: 20px;
  border: 1px solid #223673;
  border-radius: 5px;
}

.messageToDoctor p {
  margin-bottom: 10px;
}

.messageToDoctor select {
  width: 100%;
  margin-bottom: 10px;
}

.messageToDoctor button {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.messageToDoctor button:hover {
  background-color: #0056b3;
}

.messageToPatient {
  margin: 20px;
  padding: 20px;
  border: 1px solid #223673;
  border-radius: 5px;
}

.messageToPatient p {
  margin-bottom: 10px;
}

.messageToPatient select {
  width: 100%;
  margin-bottom: 10px;
}

.messageToPatient button {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.messageToPatient button:hover {
  background-color: #0056b3;
}

/* Add your custom styles for inquiries */
.inquiries {
  margin-top: 20px;
}

.inquiry {
  border: 1px solid #223673;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.inquiry span {
  font-weight: bold;
  margin-right: 10px;
}

.inquiry div {
  margin-top: 8px;
}

.answeredTitle,
.unansweredTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #223673;
  cursor: pointer;
}

.noInquiries {
  color: #223673;
  font-style: italic;
}

.appointments {
  margin: 20px;
  padding: 20px;
  border: 1px solid #223673;
  border-radius: 5px;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.appointment {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #223673;
  border-radius: 5px;
}

.form-select {
  height: 90px;
  padding: 5px;
  font-size: 14px;
}

.invalid {
  border-color: red;
}

.newAppointmentForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.deleteAppointmentButton {
  background-color: red;
  border: none;
  cursor: pointer;
}

.addDeleteAppointmentButton {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.addDeleteAppointmentButton:hover {
  background-color: #0056b3;
}

.addDoctors {
  margin: 20px;
  padding: 20px;
  border: 2px solid #223673;
  border-radius: 5px;
}

.formTitle {
  font-size: 1.5em;
  font-weight: bold;
  color: #223673;
  margin-bottom: 10px;
}

.formDescription {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #223673;
  border-radius: 5px;
  margin-bottom: 15px;
}

.invalid {
  border-color: red;
}

.addAppointmentButton,
.doneAppointmentButton {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.answerInquiryButton,
.addPatientButton {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 100px;
  cursor: pointer;
}

.answerInquiryButton:hover,
.addAppointmentButton:hover,
.addPatientButton:hover {
  background-color: #0056b3;
}

.patientDoctorName {
  font-style: italic; /* Make the text italic */
  color: #223673;
}
.sendInquiryButtons {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: max-content;
  margin-right: 5px;
  cursor: pointer;
}
