.Home {
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -2;
}

.bubble {
  position: fixed;
  bottom: 8%;
  left: 4%;
}

.headers {
  z-index: -1;
  padding: 40px;
  width: 40%;
  position: absolute;
  margin-top: 30px;
  margin-left: 40px;
  font-size: xx-small;
  font-weight: bold;
  letter-spacing: 0.7px;
  font-family: "Poppins", sans-serif;
}
.headers h1 {
  color: #223673;
  font-size: xxx-large;
}

.headers h3 {
  color: #223673;
  margin: 30px auto 0;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.8rem;
}
