.main {
  display: grid;
  grid-template-columns: 40% auto;
  border: 0.2rem solid gray;
  margin: 20px;
  background-color: rgb(189, 219, 240);
  border-radius: 2rem;
  box-shadow: 0 0 25px;
}

.title {
  grid-column: 1;
  display: grid;
  margin-left: 20px;
  margin-top: 20px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  margin-top: 60px;
  padding-left: 20px;
  position: relative;
}

.description {
  width: 700px;
  margin-left: 50px;
  margin-top: 50px;
}

.image {
  width: 3cm;
  height: 3cm;
  overflow: hidden;
  border-radius: 50%;
  margin: 2rem;
  grid-column: 1;
  position: relative;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile {
  display: flex;
}

.title h1 {
  font-size: larger;
}

.information {
  grid-row: 2;
  margin: 20px;
  font-size: medium;
}

.information p {
  width: 80%;
  margin-top: 2px;
}

.information p span {
  font-weight: bold;
}

.right {
  height: 100%;
  width: 70%;
}

.testResults > div:nth-child(1) {
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.appointmentsButtons {
  margin-left: 9px;
  height: 40px;
}

.newAppointment {
  margin-top: 20px;
}

.appointment {
  display: flex;
}

.addDoctors {
  margin-bottom: 70px;
}

.miniNavbar {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.buttonContainer {
  border: 0.2cm solid #223673;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
}

.buttonContainer button {
  background-color: transparent;
  border: none;
  color: #223673;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
}

.buttonContainer button:hover,
.buttonContainer button:focus {
  color: white;
}

/* Define styles for the inquiries container */
.inquiries {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #223673;
}

.subTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

.inquiry {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #223673;
  border-radius: 5px;
}

.inquiryId {
  font-weight: bold;
}

.message {
  font-style: italic;
}

.answer {
  font-weight: 600;
  font-style: italic;
}

.noAnswered,
.noUnanswered {
  font-style: italic;
  margin-top: 10px;
}

.appointments {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.appointment {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #223673;
  border-radius: 5px;
}

.form-select {
  height: 90px; /* Set the desired height */
  padding: 5px; /* Adjust padding as needed */
  font-size: 14px; /* Adjust font size as needed */
}

.invalid {
  border-color: red;
}

.newAppointmentForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addButton,
.doneButton {
  width: 100px;
  margin-top: 10px;
}

.deleteButton {
  background-color: red;
  color: white;
}

.addDeleteButton {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.addDeleteButton:hover {
  background-color: #0056b3;
}
.appointment .doctorName {
  font-style: italic; /* Make the text italic */
  color: #223673;
}

.messageToDoctor {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.messageToDoctor p {
  margin-bottom: 10px;
}

.messageToDoctor select {
  width: 100%;
  margin-bottom: 10px;
}

.messageToDoctor button {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.messageToDoctor button:hover {
  background-color: #0056b3;
}
.appointmentsButtons button:hover {
  background-color: #e34545;
}

.addDoctors {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addDoctors p {
  margin-bottom: 10px;
}

.addDoctors select {
  width: 100%;
  margin-bottom: 10px;
}

.addDoctors button {
  background-color: #223673;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  height:fit-content;
  width:fit-content;
}

.addDoctors button:hover {
  background-color: #0056b3;
}
