.navBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: hsl(0 0% 0% / 0.2);
  position: sticky;
  font-family: "Arial", sans-serif;
  height: 1.6cm;
}

.navBar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.navBar ul li {
  margin: 0 0.5rem;
}

.navBar ul li a {
  text-decoration: none;
  color: #223673;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.logo {
  text-decoration: none;
  width: 20%;
}

.logo img{
  width:100%;
  height:100%;
}
.others {
  font-size: larger;
  margin: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  width: 80%;
  margin-right: 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 0.25rem;
}

.navBar ul:not(.logo) li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #223673;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navBar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
